<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Introduccion</title>
      <link rel="icon" type="imgage/png" href="../assets/img/icon.png">
      <link rel="stylesheet" href="../assets/css/david.css">
</head>
<body>
      <nav>
            <a href="../index.html">Volver</a>
            <img src="../assets/img/logo.png" alt="">
      </nav>
      <div class="title">
            <h1>Comandos de mongo</h1>
      </div>
      <div class="container_comands">
            <div class="comands">
                  <div>
                        <h4>1. use: Es un comando que se usa ára crear una base de datos.</h4>
                        <p>Ejemplo: use perros</p>
                        <hr>
                        <h4>2. db: Este comando se usa para ver que base de datos se esta usando.</h4>
                        <hr>
                        <h4>3. show dbs: Muestra las bases de datos existentes.</h4>
                        <hr>
                        <h4>4. </h4>
                  </div>
            </div>
            <div class="comands">
                  <div class="questions_">
                        <p>¿Cuál es el comando para crear la base de datos "estudiantes"?</p>
                        <div class="inputs">
                              <select name="" id="">
                                    <option value="">Create</option>
                                    <option value=""></option>
                                    <option value=""></option>
                                    <option value=""></option>
                              </select>
                        </div>
                  </div>
            </div>
      </div>
      <script src="../assets/js/david.js"></script>
</body>
</html>