<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>MONOGOO</title>
      <link rel="icon" type="imgage/png" href="img/icon.png" >
      <link rel="stylesheet" href="css/prueba.css">
</head>
<body>
      <div class="content_">
            <div class="title">
                  <h1>¡¡PRUEBA TUS CONOCIMIENTOS!!</h1>
            </div>
            <div class="reto">
                  <div class="title">
                        <h3>Es momento de practicar</h3>
                  </div>
                  <p>1). Crear la base de datos hospital</p>
                  <hr class="hr">
                  <p>2). Crear las colecciones "medico", "cuarto", "paciente", "enfermedad" dentro de la base de datos creada.</p>
                  <hr class="hr">
                  <p>3). Insertar dentro de la colección "medico" tres documentos con: "_id", "nombre", "apellido","tipoDocumento", "documento", "especialidad".</p>
                  <hr class="hr">
                  <p>4). Insertar dentro de la colección "cuarto" cinco documentos con: "_id", "numeroCuarto", "estado".</p>
                  <hr class="hr">
                  <p>5). Insertar dentro de la colección "paciente" 5 documento con: "_id", "nombre", "apellido", "edad", "medicoAtiende", "cuarto", "Padece".</p>
                  <hr class="hr">
                  <p>6). Consultar los pacientes con una edad mayor o igual 18.</p>
                  <hr class="hr">
                  <p>7). Consultar los pacientes con el nombre andres.</p>
                  <hr class="hr">
                  <p>8). Consultar los pacientes con una edad mayor o igual 18 y que Padece sea covid.</p>
                  <hr class="hr">
                  <p>9). Consultar los pacientes con una edad menor o igual 30 o que su edad sea igual a 32.</p>
                  <hr class="hr">
                  <p>10). Modificar el nombre del _id que sea 2.</p>
                  <hr class="hr">
                  <p>11). Eliminar la colección enfermedad.</p>
                  <hr class="hr">
                  <div class="consola">
                        <a href="">INICIO</a>
                  </div>
            </div>
      </div>
</body>
</html>